@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.navbar {
    background-color: #E3FEF7;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d0d0d0f1;
    position: relative;
    z-index: 30;
}

.container-navbar {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.menu-button {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
}

.dropdown-toggle-button {
    display: none;
}

.close-navigation {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    color: #135D66;
    font-family: "Playfair Display", "Roboto", sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a:hover {
    cursor: pointer;
}

.logo a h1 {
    font-size: 1.8rem;
    transition: font-size 0.3s;
}

.logo img {
    width: 40px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 25px;
}

.navigation ul li {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.navigation ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    height: 100%;
}

.navigation ul li a:hover {
    text-decoration: none;
    color: #135D66;
    font-weight: 800;
}

.access a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: #135D66;
}

.access a:hover {
    font-weight: 800;
}

.mobile-access {
    display: none;
}

@media (max-width: 1200px) {
    .menu-button {
        display: block;
    }

    .navigation {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 250px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        background-color: #fff;
        z-index: 1000;
        flex-direction: column;
        justify-content: flex-start;

    }

    .container-navbar {
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
    }

    .navigation.open {
        background: #E3FEF7;
        transform: translateX(0);
    }

    .close-navigation {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #d0d0d0f1;
    }

    .close-button {
        background: transparent;
        border: none;
        display: flex;
        font-size: 50px;
        align-items: center;
        justify-content: center;
    }

    .dropdown-toggle-button {
        margin: 0;
        padding: 0;
        display: flex;
        border: none;
        background-color: transparent;
        font-size: 15px;
        align-items: center;
        justify-content: center;
    }

    .dropdown-toggle-button img {
        color: #bdbdbd;
        width: 12px;
        height: 16px;
    }

    .dropdown-toggle-button:hover {
        cursor: pointer;
    }

    .navigation ul {
        flex-direction: column;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .navigation ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.3rem;
        padding: 20px 10px;
    }

    .logo a h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .logo a {
        display: none;
    }

    .logo img {
        width: 50px;
    }

    .access {
        display: none;
    }

    .mobile-access {
        display: block;
    }

    .mobile-access a img {
        color: #135D66;
        width: 24px;
        height: 24px;
        transition: all ease .2s;
    }

    .mobile-access a img:hover {
        transform: translateY(-5px);
    }
}